header{
    width: 100%;
    height: 150px;
    background-color:#5e299a;
}
header .container{
    position: relative;
}
header .header-black{
    background-color: #000000;
    height: 40px;
}
header .header-black li{
    margin-top: 4px;
    background-image:url("imagens/clubs.png");
    background-repeat: no-repeat;
    display: inline-block;
}
header .header-black li a{
    margin: auto;
    width: 40px;
    height: 30px;
    display: block;
}
header #logo-tipo{
    position: absolute;
    top: -25px;
}
ul.pull-right{
    text-align: right;
}


