:root{
font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    height: 150px;
    font-size: 1rem;
    background-color:#5e299ae5;
    z-index:2;
    position: relative;
}
header img#logo-tipo{
    width: auto;
    margin: 175px 0px 0px 0px;
    position: absolute;
    top: 15px;
    margin: 0px 0px 0px 10px;

}
header .container{
    position: relative;
    width: 100%;
}
header .header-black{
    width: auto;
    background-color: #000000;
    padding: 3px;
    height: 40px;
}
header .header-black img{
    width: auto;
    left: -50%;
}
header .header-black li a{
    margin: 0;
    padding: 0;
    width: 40px;
    height: 30px;
    display: block;
}
nav{
    width: 100%;
}
.float-right{
    width: auto;
    height: 40px;
    margin:0;
    padding:0;
}
#menu.row{
    margin: 20px -160px 0px 182px;
    width: 1000px;
}

/*Clubes*/
header .header-black li{
    width: auto;
    background-image: url(imagens/clubs.png);
    background-repeat: no-repeat;
    display: inline-block;
}
header .header-black li{
    background-position: 6px 0px;
}
header .header-black li.club-02{
    background-position: -45px 0px;
}
header .header-black li.club-03{
    background-position: -91px 0px ;
}
header .header-black li.club-04{
    background-position: -136px 0px;
}
header .header-black li.club-05{
    background-position:-236px 0px ;
}
header .header-black li.club-06{
    background-position: -285px 0px;
}
header .header-black li.club-07{
    background-position:-333px 0px;
}
header .header-black li.club-08{
    background-position:-377px 0px;
}
header .header-black li.club-09{
    background-position:-426px 0px;
}
header .header-black li.club-10{
    background-position: -477px 0px;
}
header .header-black li.club-11{
    background-position:-526px 0px ;
}
header .header-black li.club-12{
    background-position: -578px 0px;
}
header .header-black li.club-13{
    background-position:-626px 0px ;
}
header .header-black li.club-14{
    background-position:-672px 0px;
}
header .header-black li.club-15{
    background-position:-715px 0px;
}
header .header-black li.club-16{
    background-position:-760px 0px;
}
header .header-black li.club-17{
    background-position:-803px 0px ;
}
header .header-black li.club-18{
    background-position:-853px 0px ;
}
header .header-black li.club-19{
    background-position:-899px 0px ;
}
header .header-black li.club-20{
    background-position:-945px 0px ;
}
header .header-black li.club-21{
    background-position:-995px 0px ;
}
header .header-black li.club-22{
    background-position:-186px 0px ;
}

/*Menus*/

#menu li{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    margin:0;

}
#menu li a{
    color: #fff;
    font-size: 20px;
    margin: 26px;
    padding: 10px 25px;
}
ul#menu.row{
    margin: 0;
    padding: 0px 0px 0px 118px;
    width: auto;
}
.fa-search{
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px -41px;
}
#menu li input{
    height: 30px;
    font-size: 16px;
    margin: 1px;
    padding: 1px 2px;
}
div.float-right{
    background-position: 0px;
    margin: 12px;
    padding: 0px;
}
::marker{
    text-decoration: none;
    color:#5e299a;
    width: 0px;
}
/* corpo */
.banner{
    width: auto;
    height: 720px;
    background:url(imagens/banner.jpg) no-repeat;
    position:relative;
    padding: 200px 0px 0px 0px;
    top: -110px;
}
div.shadow-sm p{
    color: #fff;
    text-shadow: 2px 0px 0px rgba(0, 0, 0, 0.496);
    margin-left: 60px;
    width: 50%;
    height: 50%;
    font-size: 100px;
}
div.shadow-sm small{
    margin-top: 60px;
    margin-left: 30px;
    color: #fff;
    text-shadow: 2px 0px 0px rgba(0, 0, 0, 0.496);
    width: auto;
    height: auto;
    font-size: 35px;
}
.text-justify p{
    position: absolute;
    text-transform: none;
}
img#banner{
    width: auto;
    height: 720px;
}
.banner small p{
    margin: 0;    
    width: 100%;
    color: white;
    top: 250px;
    font-size: 92px;
}


/* Noticias */
#news{
    color: #5e2799;
    font-family: "OpenSans-light";
    font-size: 48px;
    text-transform: uppercase;
}
#news .hr{
    background: url(imagens/noticia-thumb.jpg) no-repeat;
    margin: 0 auto;
}
hr{
    background-color: #fde092bc;
    border-radius: 6px;
    height: 8px;
    width: 210px;
}
#news .thumbnails{
    margin-top: 28px;

}
#news .thumbnails{
    color: #5e299a80;
    font-size: 10px;
    text-transform:lowercase;
}
h3{
    text-transform: lowercase;
    width: 280px;
    padding: 10px;
}
#news .thumbnails .time{
    font-size: 8px;
}
time{
    font-size: 20px; 
    font-style: italic;
    position: relative;
    bottom: 35px;
    text-transform:lowercase;
}

/* Estatiticas*/

#estatisticas{
    background-color: #5e2799;
    margin:0;
    width: 100%;
    height: 200px;
    display: block;
    
}
small{
    font-family: 'Open Sans', sans-serif;
    color:#fde092bc ;
    font-size: 30px;
    width: 349px;
    height: 50px;
    text-transform:none;
    position: absolute;
    display: block;
}
div.col-md-4{
    margin: auto;
    margin-top: 15px;
    padding: 0;
}
p{
    font-family: "OpenSans-light";
    color:#fde092bc ;
    font-size: 50px;
    width: 349px;
    height: 70px;
    padding:10px ;
    text-transform:none;
    position: absolute;
    display: block;
}

/*Cadastro, compra, registro*/
h4{
    text-align: center;
    margin-top: 20px;
}
.div.container{
    width: 100%;
    height: 400px;
}

.btn-btn-default{
    background-color: #4c24aa;
    margin-left: 20px;
    width: 150px;
    border: none;

}
:hover.btn-btn-default{
    background-color: #562cb8;
}
.btn-btn-default{
    background-color:#e0b748bc ;
    width: 150px;
    color: #5e2799;
    border: none;
}
:hover.btn-btn-default{
    background-color:#daaa27bc ;
}
.mx-auto{
    margin-top: 40px;
    margin-bottom: 40px;

}





