header{
    width: 100%;
    height: 150px;
    background-color:#5e299a;
}
header #logo-tipo{
    position: absolute;
    top: -20px;
}
header .container{
    position: relative;
    width: 100%;
}
header .header-black{
    background-color: #000000;
    padding: 4px;
    height: 40px;
}
header .header-black img{
    left: -50%;
}
header .header-black li a{
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    display: block;
}
.float-right{
    height: 32px;
    margin:0;
    padding:0;
}
header .header-black li{
    background-image: url(imagens/clubs.png);
    background-repeat: no-repeat;
    display: inline-block;
}
header .header-black li.club-01{
    background-position: 0px 0px;
}
header .header-black li.club-2{
    background-position: -44px 0px;
};
header .header-black li.club-3{
    background-position: -87px 0ox;
};

header .header-black li.club-03{
    background-position: -94px 0px;

};
header .header-black li.club-04{
    background-position: -140px 0px;

};
header .header-black li.club-05{
    background-position: 0px 0px;
};
header .header-black li.club-06{
    background-position: 0px 0px;
};
header .header-black li.club-07{
    background-position: 0px 0px;
};
header .header-black li{
    background-position: 0px 0px;
};
header .header-black li{
    background-position: 0px 0px;
};
header .header-black li{
    background-position: 0px 0px;
};
header .header-black li{
    background-position: 0px 0px;
};
header .header-black li{
    background-position: 0px 0px;
}
;
header .header-black li{
    background-position: 0px 0px;
};
header .header-black li{
    background-position: 0px 0px;
};
header .header-black li{
    background-position: 0px 0px;
};
header .header-black li{
    background-position: 0px 0px;
};
header .header-black li{
    background-position: 0px 0px;
};
header .header-black li{
    background-position: 0px 0px;
};
header .header-black li{
    background-position: 0px 0px;
};
header .header-black li{
    background-position: 0px 0px;
};
header .header-black li{
    background-position: 0px 0px;
};



